extends ../../layout/base

block content 
    h1 About #{variants.title}
     ul 
        li 
            label ID: #{variants.id}
            br
            label Title: #{variants.title}
            br
            label Price: #{variants.price}
            br
            label Product: #{product.title}
            br
            label Inventory: #{variants.inventory}
            br
            label Description: #{variants.description}
            br
            a(href=variants.id+'/edit') Edit
            a(href=variants.id+'/delete') Delete 