extends ../../layout/base

block content 
    h1 About Image ##{image.id}
     ul 
        li 
            label ID: #{image.id}
            br
            label Assigned Variant: #{variant.title}
            br
            a(href=image.id+'/edit') Edit
            a(href=image.id+'/delete') Delete 