extends ../../layout/base

block content 
    h1 About #{product.name}
     ul 
        li 
            label ID: #{product.id}
            br
            label Name: #{product.name}
             a(href=product.id+'/edit') Edit
             a(href=product.id+'/delete') Delete 